<mat-toolbar color="primary">
  <mat-icon>engineering</mat-icon>
  <span>Ideas</span>
  <app-simpleauth></app-simpleauth>
</mat-toolbar>

<div class="container-wrapper">
  <button (click)="newTask()" mat-button>
    <mat-icon>add</mat-icon> Add Idea
  </button>
</div>

<div class="container-wrapper">
  <div class="container">
    <mat-card
      id="todo | async"
      class="list"
    >
      <p class="empty-label" *ngIf="(todo | async)?.length === 0">Empty list</p>
      <app-task (edit)="editTask('todo', $event)" *ngFor="let task of todo | async" [task]="task"></app-task>
    </mat-card>
  </div>
</div>
